<%= form_for(@keeper) do |f| %>
  <% if @keeper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keeper.errors.count, "error") %> prohibited this keeper from being saved:</h2>

      <ul>
      <% @keeper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :year,value: 2013 %>
  </div>

  <div class="form-group">
    <%= f.label :first, "First Name"%><br>
    <%= f.text_field :first, class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :last, "Last Name" %><br>
    <%= f.text_field :last, class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.label :team, "MLB Team" %><br>
    <%= f.text_field :team, class: "form-control input-lg", placeholder: 'three letter abbreviation please - e.g. TOR' %>
  </div>
  <div class="form-group">
    <%= f.label :keeper_year, "Keeper Year" %><br>
    <%= f.number_field :keeper_year, placeholder: 1, in: 1...4, class: "form-control input-lg" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>
